.footer {
    background-color: #242942;
    padding: 0px 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    
    &__container {
        margin: 0 auto;
        text-align: center ;

        h1{
            font-size: 10px;
            font-family: 'Poppins', sans-serif;
        }
        p{
            font-size: 10px;
            font-family: 'Poppins', sans-serif !important;
        }
    }
}