@use "variaveis";

.header {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: variaveis.$corDeFundo;
    border-bottom: 1px solid red;
    animation: 2s;
    
    &__container {
        width: 90%;
        margin: 0 auto;
    }

    &__itens{
        display: flex;
        justify-content: space-between;
        
        .logos {
            display: flex;
            align-items: center;
            padding-top: 5px;
            &__image {
                max-width: 50px;
            }
            &__text {
                max-width: 100px;
            }
        }
            &__links {
                display: flex;
                align-items: center;
            }
    }

    @media(max-width:480px) {
        &__container {
            width: 90%;
        }

        &__itens{
            .logos {
                &__image{
                    max-width: 40px;
                }
                &__text{
                    display: none;
                }
            }
        }
        a{
            font-size: 12px !important;
            padding-left: 10px;
        }

    }
}