@use "variaveis";

.hero {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2035;
    border-bottom:solid red 0.1px;
    border-top: solid red 0.1px;

    &__text {
        span {
            font-size: 20px;
        }
        h2 {
            font-size: 25px;
        }
    }

    &__image {
        width: 40%;
        object-fit: cover;
    }

    @media(max-width:480px) {
        &__text {
            padding-left: 10px;
            span {
                font-size: 10px;
            }
            h2 {
                font-size: 15px;
            }
        }
    }
}
